@inherits LayoutComponentBase
@inject TokenHelper TokenHelper
@inject NavigationManager Navigation
@inject NavigationHelper NavigationHelper

@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div class="alert alert-danger m-3" role="alert">
        <strong>Error:</strong> @ErrorMessage
    </div>
}
else
{
    <!-- Top bar -->
    <div class="top-bar d-flex justify-content-between align-items-center px-3 fixed-top" style="height: 80px; background-color: white; border-bottom: 4px solid #CF142B;">
        <div class="d-flex align-items-center ms-4">
            <img src="images/ricohLogo.svg" alt="Ricoh Logo" style="height: 45px;">
        </div>
        <div class="text-dark fw-bold d-flex align-items-center me-2" style="font-size: 16px;">
            @UserName
            <div class="dropdown">
                <i class="bi bi-gear-fill ms-3 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="cursor: pointer; color: #CF142B; font-size: 1.5rem;"></i>
                <ul class="dropdown-menu dropdown-menu-end custom-dropdown">
                    @foreach (var item in SettingsLinks)
                    {
                        <li>
                            <a class="dropdown-item" href="@item.Url" target="_blank">@item.Text</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="d-flex" style="margin-top: 80px;">
        <RadzenDialog />
        <div class="sidebar bg-black text-white position-fixed" style="top: 80px; height: calc(100vh - 80px); width: 250px; overflow-y: hidden;">
            @RenderNav()
        </div>
        <main class="@MainClass" style="margin-left: 250px; height: calc(100vh - 80px); overflow-y: auto;">
            @Body
        </main>
    </div>

    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
}

@code {
    private string? UserName;
    private string? ErrorMessage;
    private List<DropdownLink> SettingsLinks = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            string spHostUrl = string.Empty;
            var uri = Navigation.ToAbsoluteUri(Navigation.Uri);
            var queryParams = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query);

            if (queryParams.TryGetValue(ConstantHelper.ParameterQuery.SPHostUrl, out var spHostUrlValues))
            {
                spHostUrl = spHostUrlValues.ToString();
                NavigationHelper.SetSPHostUrl(spHostUrl);
            }

            if (string.IsNullOrEmpty(spHostUrl))
            {
                throw new Exception("SPHostUrl is null or empty.");
            }

            string accessToken = await TokenHelper.GetUserAccessToken();
            if (string.IsNullOrEmpty(accessToken))
            {
                throw new Exception("Access token is null or empty.");
            }

            using (ClientContext context = TokenHelper.GetClientContextWithAccessToken(spHostUrl, accessToken))
            {
                User currentUser = context.Web.CurrentUser;
                context.Load(currentUser, x => x.Id, x => x.LoginName, x => x.Title, x => x.Email, x => x.Groups);
                context.ExecuteQuery();

                UserName = currentUser.Title;

                string siteContentsUrl = string.Format(ConstantHelper.URLTemplate.SiteContents, spHostUrl);
                string siteSettingsUrl = string.Format(ConstantHelper.URLTemplate.SiteSettings, spHostUrl);

                SettingsLinks = new()
                {
                    new DropdownLink("Site Contents", $"{siteContentsUrl}"),
                    new DropdownLink("Site Settings", $"{siteSettingsUrl}")
                };
            }
        }
        catch (Exception ex)
        {
            ErrorMessage = "An error occurred while loading your profile. Please try again later.";
            Console.Error.WriteLine(ex);
        }
    }

    private record DropdownLink(string Text, string Url);

    //Body padding
    private string MainClass => Navigation.Uri.Contains("/CreateRequestForm") 
    || Navigation.Uri.Contains("/ViewRequestForm")
    || Navigation.Uri.Contains("/ApprovalForm")
    ? "flex-fill bg-light"
    : "flex-fill bg-light p-4";

    //Custom navbar
    private RenderFragment RenderNav()
    {
        var currentUrl = Navigation.Uri;

        if (currentUrl.Contains("/CreateRequestForm"))
        {
            return builder => { builder.OpenComponent(0, typeof(NavCreateForm)); builder.CloseComponent(); };
        }
        else if (currentUrl.Contains("/ViewRequestForm"))
        {
            return builder => { builder.OpenComponent(0, typeof(NavViewRequestForm)); builder.CloseComponent(); };
        }
        else if (currentUrl.Contains("/ViewEmployeeForm"))
        {
            return builder => { builder.OpenComponent(0, typeof(NavViewEmployeeForm)); builder.CloseComponent(); };
        }
        else if (currentUrl.Contains("/ApprovalForm"))
        {
            return builder => { builder.OpenComponent(0, typeof(NavApprovalForm)); builder.CloseComponent(); };
        }
        else
        {
            return builder => { builder.OpenComponent(0, typeof(NavMenu)); builder.CloseComponent(); };
        }
    }

}