@page "/accessDenied"
@attribute [Authorize]

<PageTitle>Access Denied</PageTitle>

<div class="jumbotron">
    <span class="fw-bolder">Sorry, you do not have permission to access to this page</span>
</div>

@code {

}
